body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #e91e63;
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

button {
    background-color: #e91e63;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #c2185b;
}

/* Estilos para el botón de agradecimiento */
#mostrar-mensaje-agradecimiento {
    margin-top: 20px; /* Espacio superior para separarlo del listado */
    display: block; /* Para que el botón ocupe todo el ancho */
    margin-left: auto;
    margin-right: auto;
}

/* Estilos para la sección del mensaje de agradecimiento */
#mensaje-agradecimiento {
    text-align: center; /* Centrar el texto y la imagen */
}

#mensaje-agradecimiento img {
    max-width: 100%; /* Ajustar el tamaño de la imagen al ancho del contenedor */
    height: auto;
    margin-top: 20px; /* Espacio superior para separar la imagen del texto */
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.2em;
    }

    p {
        font-size: 1em;
    }

    button {
        font-size: 1em;
    }
}

/* Estilos para tablets */
@media (min-width: 769px) and (max-width: 1024px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    p {
        font-size: 1.2em;
    }

    button {
        font-size: 1.2em;
    }
}

/* Estilos para ordenadores */
@media (min-width: 1025px) {
    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 2em;
    }

    p {
        font-size: 1.5em;
    }

    button {
        font-size: 1.5em;
    }
}
